.user-time-table-page {
  width: 85%;
  height: 85vh;
  margin: 10vh auto 5vh;
  display: flex;
  flex-wrap: nowrap;
  max-height: 80vh;
  gap: 18px;
  overflow: auto;
  padding: 5px;
  .goTo-time-table-page {
    position: absolute;
    right: 7.5%;
    top: 15px;
    border: none;
    outline: none;
    background-color: black;
    border-radius: 8px;
    width: fit-content;
    padding: 15px;
    color: #f6f6f6;
    text-align: center;
    cursor: pointer;
  }
}
