.user-time-table-page {
  width: 85%;
  height: 85vh;
  margin: 10vh auto 5vh;
  display: flex;
  flex-wrap: nowrap;
  max-height: 80vh;
  gap: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  .goTo-time-table-page {
    position: absolute;
    right: 7.5%;
    top: 15px;
    border: none;
    outline: none;
    background-color: var(--black);
    border-radius: 8px;
    width: fit-content;
    padding: 15px;
    color: var(--white-d1);
    text-align: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  .user-time-table-page {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .user-time-table-page {
    overflow-x: auto;
    .day-column {
      min-width: 120px;
    }
  }
}
