@font-face {
  font-family: 'IranSans';
  src: url('/src/assets/font/IranSans/IRANSansWeb.ttf');
}
@font-face {
  font-family: 'IranSansMedium';
  src: url('/src/assets/font/IranSans/IRANSansWeb_Medium.ttf');
}
@font-face {
  font-family: 'IranSansBold';
  src: url('/src/assets/font/IranSans/IRANSansWeb_Bold.ttf');
}
@font-face {
  font-family: 'IranSansLight';
  src: url('/src/assets/font/IranSans/IRANSansWeb_Light.ttf');
}
@font-face {
  font-family: 'IranSansNum';
  src: url('/src/assets/font/IranSans/IRANSansWeb(FaNum).ttf');
}
@font-face {
  font-family: 'IranSansMediumNum';
  src: url('/src/assets/font/IranSans/IRANSansWeb(FaNum)_Medium.ttf');
}
@font-face {
  font-family: 'IranSansLightNum';
  src: url('/src/assets/font/IranSans/IRANSans(FaNum)_Light.ttf');
}
@font-face {
  font-family: 'IranSansBoldNum';
  src: url('/src/assets/font/IranSans/IRANSansWeb(FaNum)_Bold.ttf');
}

@font-face {
  font-family: 'BR-Cobane-B';
  src: url('/src/assets/font/BR-Cobane/Brink\ -\ BR\ Cobane\ Bold.otf');
}
@font-face {
  font-family: 'BR-Cobane-M';
  src: url('/src/assets/font/BR-Cobane/Brink\ -\ BR\ Cobane\ Medium.otf');
}
@font-face {
  font-family: 'BR-Cobane-R';
  src: url('/src/assets/font/BR-Cobane/Brink\ -\ BR\ Cobane\ Regular.otf');
}
@font-face {
  font-family: 'BR-Cobane-L';
  src: url('/src/assets/font/BR-Cobane/Brink\ -\ BR\ Cobane\ Light.otf');
}
@font-face {
  font-family: 'BR-Cobane-T';
  src: url('/src/assets/font/BR-Cobane/Brink\ -\ BR\ Cobane\ Thin.otf');
}
