.IranSansNum {
  font-family: 'IranSansNum' !important;
}
.IranSansMedium {
  font-family: 'IranSansMedium' !important;
}
.IranSansBold {
  font-family: 'IranSansBold' !important;
}
.IranSansLight {
  font-family: 'IranSansLight' !important;
}
.IranSansLightNum {
  font-family: 'IranSansLightNum' !important;
}
.IranSansMediumNum {
  font-family: 'IranSansMediumNum' !important;
}
.IranSansBoldNum {
  font-family: 'IranSansBoldNum' !important;
}
.EN-B {
  font-family: 'BR-Cobane-B' !important;
}
.EN {
  font-family: 'BR-Cobane-M' !important;
}
.EN-R {
  font-family: 'BR-Cobane-R' !important;
}
.EN-L {
  font-family: 'BR-Cobane-L' !important;
}
.EN-T {
  font-family: 'BR-Cobane-T' !important;
}
