:root {
  --white: #fff;
  --white-d1: #f6f6f6;
  --whitesmoke: #ececec;
  --whitesmoke-d1: #f6f6f6d8;
  --whitesmoke-d2: #f6f6f68e;
  --whitesmoke-d3: #f6f6f646;
  --whitesmoke-d4: #e6e6e6d8;
  --red: #d82222;
  --green-t1: #1ab032;
  --green: green;
  --blue: #0000ff;
  --blueviolet: #8a2be2;
  --beige: #a7632b;
  --gray-t2: #868686;
  --gray-t1: #999999;
  --gray: #7f7f7f;
  --black-t5: #191919;
  --black-t4: #060606;
  --black-t3: #5a5a5a;
  --black-t2: #333333;
  --black-t1: #1c1b1f;
  --black: #000;
  --transition: 0.6s;
}
